.nav {
  width: 60px;
  height: 35px;
  margin-bottom: 15px;
  cursor: pointer;
}

.items {
  &-card {
    display: flex;
  }
  &-visual {
    text-align: center;
    padding: 40px;
  }
  &-img {
    width: 180px;
    height: 270px;
    margin-bottom: 35px;
  }
  &-text {
    margin-left: 50px;
  }
  &-author {
    margin-top: 20px;
  }
  &-description {
    max-width: 833px;
    overflow-wrap: break-word;
    margin-top: 60px;
  }
}
