.nav {
  width: 60px;
  height: 35px;
  margin-bottom: 15px;
  cursor: pointer;
}

.items {
  &-card {
    display: flex;
  }
  &-visual {
    text-align: center;
    padding: 40px;
    border: 1px solid #8a8686;
    border-radius: 3px;
    background: #e3cfa140;
    height: 385px;
  }
  &-img {
    width: 180px;
    height: 270px;
    margin-bottom: 10px;
  }
  &-text {
    margin-left: 50px;
  }
  &-author {
    margin-top: 20px;
  }
  &-description {
    margin-top: 50px;
    padding: 15px 0;
    border-top: 1px solid #8a8686;
  }
}
