.items {
  &-card {
    display: flex;
  }
  &-visual {
    text-align: center;
    padding: 40px;
    border: 1px solid #8a8686;
    border-radius: 3px;
    background: #e3cfa140;
  }
  &-price {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
  }
  &-buybtn {
    margin: 15px;
    width: 150px;
    height: 40px;
    background-color: #8a868682;
    border: none;
    cursor: pointer;
  }
  &-text {
    margin-left: 50px;
  }
  &-author {
    margin-top: 20px;
  }
  &-description {
    margin-top: 50px;
    padding: 15px 0;
    border-top: 1px solid #8a8686;
  }
}
