.book {
  cursor: pointer;
  text-align: center;
  margin-bottom: 15px;
  &:hover {
    color: #c9970e;
  }
  &-img {
    margin-bottom: 10px;
    width: 180px;
    height: 270px;
  }
  &-add {
    display: flex;
    justify-content: space-between;
    width: 180px;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  &-add__icon {
    height: 26px;
    width: 19px;
  }
}
