@import '@fontsource/josefin-sans';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f4f5;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #292f39;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}
